@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:wght@300;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
}
body {
  color: black;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h3  {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
}